 @page
@using Module10Lab.Pages

   @model EmployeeManagementModel

   @{

       ViewData["Title"] = "Employee Management";

   }

   <h1>@ViewData["Title"]</h1>

   <form method="post">

       <div class="form-group">

           <label for="employeeSelect">Select Employee:</label>

           <select id="employeeSelect" name="SelectedEmployeeId" class="form-control" asp-for="SelectedEmployeeId" asp-items="Model.EmployeeList" onchange="this.form.submit()">

               <option value="">-- Select Employee --</option>

           </select>

       </div>

   </form>

   @if (Model.SelectedEmployee != null)

   {

       <form method="post">

           <input type="hidden" name="EmployeeID" value="@Model.SelectedEmployee.EmployeeID" />

           <div class="form-group">

               <label>First Name:</label>

               <input name="FirstName" class="form-control" value="@Model.SelectedEmployee.FirstName" readonly />

           </div>

           <div class="form-group">

               <label>Last Name:</label>

               <input name="LastName" class="form-control" value="@Model.SelectedEmployee.LastName" readonly />

           </div>

           <div class="form-group">

               <label>Title:</label>

               <input name="Title" class="form-control" value="@Model.SelectedEmployee.Title" />

           </div>

           <div class="form-group">

               <label>City:</label>

               <input name="City" class="form-control" value="@Model.SelectedEmployee.City" />

           </div>

           <button type="submit" class="btn btn-primary" asp-page-handler="Update">Update Employee</button>

           <button type="submit" class="btn btn-danger" asp-page-handler="Delete">Delete Employee</button>

       </form>

   }

   <h2 class="mt-4">Add New Employee</h2>

   <form method="post">

       <div class="form-group">

           <label for="NewFirstName">First Name:</label>

           <input id="NewFirstName" name="NewFirstName" class="form-control" />

       </div>

       <div class="form-group">

           <label for="NewLastName">Last Name:</label>

           <input id="NewLastName" name="NewLastName" class="form-control" />

       </div>

       <div class="form-group">

           <label for="NewTitle">Title:</label>

           <input id="NewTitle" name="NewTitle" class="form-control" />

       </div>

       <button type="submit" class="btn btn-success" asp-page-handler="Add">Add Employee</button>

   </form>